@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth transitions for dark mode */
html {
  transition: background-color 0.3s, color 0.3s;
}

/* Optional: Apply base dark theme background */
.dark body {
  background-color: #1a202c; /* Tailwind's gray-900 */
  color: #f7fafc;            /* Tailwind's gray-100 */
}

/* animate-color-cycle animate-pulse class animation */
/*@animate-color-cycle animate-pulse*/
  
